<!DOCTYPE html>
<html>
  <head>
    <title>Product List</title>
  </head>
  <body>
    <h1>Product List</h1>

    <table border="1">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Units in Stock</th>
          <th>Units on Order</th>
        </tr>
      </thead>
      <tbody id="product-list">
        <!-- Product Data Goes Here -->
        <tr>
          <td>1</td>
          <td>Product A</td>
          <td>Lorem ipsum dolor sit amet...</td>
          <td>19.99</td>
          <td>100</td>
          <td>80</td>
          <td>20</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Product B</td>
          <td>Consectetur adipiscing elit...</td>
          <td>24.99</td>
          <td>50</td>
          <td>45</td>
          <td>5</td>
        </tr>
        <!-- Add more product rows as needed -->
      </tbody>
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script src="/javascript/customer-view.js"></script>
  </body>
</html>
