<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/0c16ccb70e.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/styles/index.css" />
    <title>Storeal - Fast delivery</title>
  </head>
  <body>
    <div class="root">
      <!-- Main content -->
      <div class="main-content" style="width: 100%; position: unset">
        <!-- Navigation bar -->
        <nav>
          <img
            src="/image/logo-no-background.png"
            alt="nav-logo"
            class="nav__logo"
          />
        </nav>

        <!-- Content -->
        <div class="container">
          <div class="content">
            <h1 class="app-name">Bootsup shipping</h1>
            <p>
              We are a third-party drop shipping unit which collaborates with
              many local and large sellers to store their products at our
              warehouses so shippers can deliver your products at the fastest
              time.
            </p>

            <div class="signin-signup">
              <div class="signin" id="login_btn">
                <a href="/login">Login</a>
              </div>

              <div class="signup" id="signup_btn">
                <a href="/signup">Sign up</a>
              </div>
            </div>
          </div>

          <div name="img-background">
            <img
              src="/image/warehouse-background.png"
              alt="img-background"
              width=""
            />
          </div>
        </div>
      </div>

      <!-- Footer -->
      <section class="footer">
        <div class="footer-content">
          <div class="footer-logo">
            <img
              src="/image/icon/storeal-website-favicon-white.png"
              alt="footer_logo"
              width="50px"
            />
            <h3>Storeal</h3>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
            voluptatem ab ipsum laboriosam aliquid, at provident cum omnis
            quisquam minus culpa sint ipsa, soluta eos similique quam eius amet
            aspernatur!
          </p>

          <!-- Social icons -->
          <ul class="social_icons">
            <li>
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </li>
          </ul>
        </div>

        <!-- Copyrights -->
        <div class="copyright">
          <p>Copyright &copy;2023 Storeal. Designed by <span>Group 8</span>.</p>
        </div>
      </section>
    </div>
    <script>
      const login_btn = document.getElementById('login_btn');
      login_btn.addEventListener('click', () => {
        window.location.href = '/login';
      });
      const signup_btn = document.getElementById('signup_btn');
      signup_btn.addEventListener('click', () => {
        window.location.href = '/signup';
      });
    </script>
  </body>
</html>
