<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details</title>
  </head>
  <body>
    <div class="details-container">
      <div class="product-img-container">
        <img
          src="https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lk1tw6buvwuace"
          alt=""
        />
      </div>
      <div class="product-details-title">
        <h1>Product Name in here</h1>
      </div>
      <div class="product-rating-bar">
        <div class="product-rating-item">
          <p>Rating:</p>
          <p>Comment:</p>
          <p>Sold:</p>
        </div>
      </div>
      <div class="product-category-container">
        <div class="product-details-row">
            <h3>Category</h3>
            <p>Category details</p>
      </div>
    </div>
    <div class="button-row-container">
        <button class="product-add-card">
            Add to cart
        </button>
        <button class="product-buy">
            Buy now
        </button>
        </div>
  </body>
</html>
