<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/sign-up.css">
    <link rel="stylesheet" href="/styles/sign-in.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/modal.css">
    <title>Sign up Page</title>
</head>
<body>
    
    
    
    <div class="container-fluid">
        
        <div class="row align-items-center vh-100 gx-0">
            <div class="row vh-100 mb-5">
                <div class="form col-lg-6 col-md-12 m-auto">
                    <div class="sign-up-element">
                        <input class="form-form-elemment user-name"  type="text" placeholder="User Name" name="uname" required/>
                        <img src="/image/icon/icon-error.svg" alt="" class="error__icon" />
                        </input>
                        <p class="error error-uname" aria-live="polite"></p>
                    </div>
                    <div class="sign-up-element">
                        <input class="form-form-elemment user-normal-name" type="text" placeholder="Your Name" name="yourName"  required/>
                        <img src="/image/icon/icon-error.svg" alt="" class="error__icon" />
                        <p class="error error-normal-name" aria-live="polite"></p>
                    </div>
                    <div class="sign-up-element">
                        <input class="form-form-elemment password" type="password" placeholder="Password" name="pass"  required minlength="8"/>
                        <img src="/image/icon/icon-error.svg" alt="" class="error__icon" />
                        <p class="error error-password" aria-live="polite"></p>
                    </div>
                    <div class="sign-up-element">
                        <input class="form-form-elemment re-enter-password" type="password" placeholder="Enter Password Again" name="re_enter_pass"  required minlength="8"/>
                        <img src="/image/icon/icon-error.svg" alt="" class="error__icon" />
                        <p class="error error-re-password" aria-live="polite"></p>
                    </div>
                     <div class="sign-up-element">
                        <input class="form-form-elemment address" type="text" placeholder="Address" name="address"  required/>
                        <img src="/image/icon/icon-error.svg" alt="" class="error__icon" />
                        <p class="error error-address" aria-live="polite"></p>
                    </div>
                     <div class="sign-up-element">
                    <select class="form-form-elemment account-type" id="accountType" name="accountType" required>
                        <option value="" disabled selected>Select Account Type</option>
                        <option value="customer">Customer</option>
                        <option value="seller">Seller</option>
                    </select>
                    <img src="/image/icon/icon-error.svg" alt="" class="error__icon" />
                    <p class="error error-account-type" aria-live="polite"></p>
                </div>
                    <div class="controller">
                        <div id ="btn-sign-up" class ="button__controller">Sign up</div>
                        <div id = "btn-back" class="button__controller">Back</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
     <div class="confirmation-backdrop" id="backdrop"></div>
            <div class="confirmation-modal" id="modal">
                <div class="modal-confirmation">
                    <h2 style="text-align: center;">Confirmation</h2>
                    <div class="modal__main-content confirmation-message">
                        <p>Are you sure you want to delete this product?</p>
                    </div>
                    <div class="modal__footer"
                        style="display: flex; margin-top: auto;padding: 10px; justify-content: flex-end;">
                        <button class="modal__button modal__button--cancel"
                            id="button__cancel-confirmation">Cancel</button>
                        <button class="modal__button modal__button--save modal__button--yes" id="delete-button">Yes</button>
                    </div>
                </div>
            </div>
            <script src="/javascript/helper.js"></script>
        <script type="module" defer src="/javascript/sign-up.js"></script>
    
  </body>
</html>