<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0c16ccb70e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles/sidebar.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/inventory.css">

    <title>Inventory | Storeal</title>

    <!-- <script src="./assets/functions/index.js"></script> -->

</head>
<body>
    <div class="root">
        <div class="sidebar">
        </div>

        <div class="main-content">
            <div class="table">
                <div class="table__header">
                    <p>Inventory details</p>
                </div>
                <div class="table__body" style="padding: 0px 10px;">
                    <div class="toolbar">
                        
    
                        <div class="main-inventory__container-header">
                            <div>
                                <select name="" id="" class="attribute-filter-select">
                                    <option value="all">All</option>
                                    <option value="name">Search By Name</option>
                                    <option value="address">Search By Address</option>
                                </select>
                            </div>
                            <input class="inventory-search-input" type="text" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome">
                        </div>
                    </div>

                    <div class="main-inventory__update">
                        <table>
                            <thead>
                                <tr>
                                    <th name="inventory-no" width="10%">Warehouse ID</th>
                                    <th name="inventory-name">Warehouse Name</th>
                                    <th name="inventory-name">Available Volume</th>
                                    <th name="inventory-address" >Product Name</th>
                                    <th name="inventory-volume">Current Quantity</th>
                                    <th name="inventory-available">Move Quantity</th>
                                    <th name="inventory-available">Destination Warehouse ID</th>
                                    <th name="inventory-actions" width = "10%">Actions</th>
                                </tr>
                            </thead>
    
                            <tbody class="pwhouse-list">
                                <!-- <tr> -->
                                    <!-- <td name="td__id"></td>
                                    <td name="td__name"></td>
                                    <td name="td__address"></td>
                                    <td name="td__volume"></td>
                                    <td name="td_availability"></td>
                                    <td>
                                        <button class="edit-button">Submit</i></button>
                                       
                                    </td> -->
                                <!-- </tr> -->
                            </tbody>
                        </table>
                        <div class="pagination">
                            <!-- <div><i class="fa-solid fa-angles-left"></i></div>
                            <div><i class="fa-solid fa-angle-left"></i></div>
                            <div><i class="fa-solid fa-1"></i></div>
                            <div><i class="fa-solid fa-2"></i></div>
                            <div><i class="fa-solid fa-angle-right"></i></div>
                            <div><i class="fa-solid fa-angles-right"></i></div> -->
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div id="status-modal" class="modal-status">
                <div class="modal-status-content success">
                    <p class = "status-msg">Operation Successful</p>
                    <button class ="error-btn" id="close-status-modal-btn" id = "return-btn">
                        <i class="fa-solid fa-rotate-right"></i>
                        Refresh</button>
                </div>
            </div>
        <div id="loading-modal" class="loading-modal">
            <div class="modal-content">
                <div class="loader"></div>
                <p style="margin: auto;">Loading...</p>
            </div>
        </div>
        <div class="backdrop" id="backdrop"></div>
        <div class="modal" id="modal">
            <div class="modal-content-update">
                <h2 style="text-align: center;">Update Inventory info</h2>
                <div class="modal__main-content">
                    <div class="modal__update-item" style="margin-bottom: 10px;">
                        <label class="product__item-info product__name">Name</label>
                        <input class="product__input-modal inventory__name-input" id = "inventory__name--update" type="text">
                    </div>
                    <div class="modal__update-item" style="margin-bottom: 10px;">
                        <label class="product__item-info product__name">Address</label>
                        <input class="product__input-modal inventory__name-input" id = "inventory__address--update" type="text">
                    </div>
                    <div class="modal__update-item" style="margin-bottom: 10px;">
                        <label class="product__item-info product__price">Volume</label>
                        <input class="product__input-modal inventory__volume-input" id = "inventory__volume--update" type="number">
                    </div>
                </div>
                <div class="modal__footer"
                    style="display: flex; margin-top: auto;padding: 10px; justify-content: flex-end;">
                    <button class="modal__button modal__button--cancel closeModalButton">Cancel</button>
                    <button class="modal__button modal__button--save" id ="submit-update-button">Save</button>
                </div>

            </div>
        </div>
        <div class="confirmation-backdrop" id="backdrop"></div>
        <div class="confirmation-modal" id="modal">
            <div class="modal-confirmation">
                <h2 style="text-align: center;">Confirmation</h2>
                <div class="modal__main-content confirmation-message">
                    <p>Are you sure you want to delete this product?</p>
                </div>
                <div class="modal__footer"
                    style="display: flex; margin-top: auto;padding: 10px; justify-content: flex-end;">
                    <button class="modal__button modal__button--cancel"
                        id="button__cancel-confirmation">Cancel</button>
                    <button class="modal__button modal__button--save modal__button--yes" id="delete-button">Yes</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    <script src="/javascript/helper.js"></script>
    <script type="module" src="/javascript/admin-product.js"></script>
</body>
</html>